body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  width: auto
}

.photo-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.photo-grid_column > img {
  padding: 15px;
}